@model Artist

@{
    Layout = "_Layout";
    int minimumYear = 1855;
    int maximumYear = DateTime.Now.Year + 1;
}

<form method="post" id="FormDateValidation">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
    </div>
    <div class="form-group">
        <label asp-for="OriginCountry"></label>
        <select class="form-control" asp-for="OriginCountry" asp-items="@(Html.GetEnumSelectList<Country>())"></select>
    </div>
    <div class="form-group">
        <label asp-for="IsSoloArtist">This profile is for a Single Performer (Not a Band)</label>
        <input type="checkbox" asp-for="IsSoloArtist" />
    </div>
    <div>
        <label>Birth / Formed Date</label>
    </div>
    <div class="listofthings">
        <div class="form-group">
            <select asp-for="BirthDay">
                <option value="0"></option>
                @for (var i = 1; i <= 31; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>
        <div class="form-group">
            <select asp-for="BirthMonth" asp-items="MonthSelectList.GetMonthList()">
                <option value="0"></option>
            </select>
        </div>
        <div class="form-group">
            <select asp-for="BirthYear">
                <option value="0"></option>
                @for (var i = maximumYear; i >= minimumYear; i--)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>
    </div>
    <div class="form-error">
        <span id="BirthDate-Error"></span>
    </div>
    <div>
        <label>Death / Disbandment Date</label>
    </div>
    <div class="listofthings">
        <div class="form-group">
            <select asp-for="DeathDay">
                <option value="0"></option>
                @for (var i = 1; i <= 31; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>
        <div class="form-group">
            <select asp-for="DeathMonth" asp-items="MonthSelectList.GetMonthList()">
                <option value="0"></option>
            </select>
        </div>
        <div class="form-group">
            <select asp-for="DeathYear">
                <option value="0"></option>
                @for (var i = maximumYear; i >= minimumYear; i--)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>
    </div>
    <div class="form-error">
        <span id="DeathDate-Error"></span>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

<script src="~/js/ArtistDateValidation.js" asp-append-version="true"></script>