@model Artist
@{ ViewData["Title"] = Model.Name;}

<div>
    <h1>@Model.Name</h1>
    <h2>@Model.OriginCountry</h2>
    <span>Birth/Formed Date</span>
    <partial name="_DateSpanPartial" model="new int[] { Model.BirthDay, Model.BirthMonth, Model.BirthYear }" />
    <span>Death / Disbanded Date</span>
    <partial name="_DateSpanPartial" model="new int[] { Model.DeathDay, Model.DeathMonth, Model.DeathYear }" />
    <a asp-controller="Release"
       asp-action="New"
       asp-route-artistID="@Model.ArtistID">Add a release</a>
    <table>
        <tr>
            <th>Release Name</th>
            <th>Average Rating</th>
            <th>Number of Ratings</th>
        </tr>
        @foreach (Release release in Model.Releases.OrderBy(r => r.FormattedDate))
        {
            <tr>
                <td><a asp-controller="Release" asp-action="Entry" asp-route-id="@release.ReleaseID">@release.Title</a></td>
                <td>@release.AverageRating</td>
                <td>@release.NumberOfRatings</td>
            </tr>
        }
    </table>
    <div class="form-group">
        <form method="post" action="/Artist/Delete/@Model.ArtistID">
            <button class="btn btn-danger" type="submit">Delete Artist</button>
        </form>
    </div>
</div>