@model ArtistProfileViewModel
@{ 
    ViewData["Title"] = Model.Artist.Name;
    Artist Artist = Model.Artist;    
}

<div class="ArtistProfile">
    <h1>@Artist.Name</h1>
    <div>
        <span><strong>Country of Origin:</strong> @Artist.OriginCountry</span>
    </div>
    <div>
        <span><strong>@(Artist.IsSoloArtist ? "Birth" : "Formed") Date</strong></span>
        <partial name="_DateSpanPartial" model="new int[] { Artist.BirthDay, Artist.BirthMonth, Artist.BirthYear }" />
    </div>
    <div>
        <span><strong>@(Artist.IsSoloArtist ? "Death" : "Disbanded") Date</strong></span>
        <partial name="_DateSpanPartial" model="new int[] { Artist.DeathDay, Artist.DeathMonth, Artist.DeathYear }" />
    </div>
    <a asp-controller="Release"
       asp-action="New"
       asp-route-artistID="@Artist.Id">Add a release</a>

    @if (Model.IsAdmin)
    {
        <div class="form-group">
            <form method="post" action="/Artist/Delete/@Artist.Id">
                <button class="btn btn-danger" type="submit">Delete Artist</button>
            </form>
        </div>
    }

    @if (Model.Albums.Count() > 0)
    {
        <h2>Albums</h2>
        <partial name="_ReleaseTablePartial" model="@Model.Albums" />
    }
    @if (Model.Eps.Count() > 0)
    {
        <h2>Eps</h2>
        <partial name="_ReleaseTablePartial" model="@Model.Eps" />
    }
    @if (Model.Mixtapes.Count() > 0)
    {
        <h2>Mixtapes</h2>
        <partial name="_ReleaseTablePartial" model="@Model.Mixtapes" />
    }
    @if (Model.LiveAlbums.Count() > 0)
    {
        <h2>Live Albums</h2>
        <partial name="_ReleaseTablePartial" model="@Model.LiveAlbums" />
    }
    @if (Model.Singles.Count() > 0)
    {
        <h2>Singles</h2>
        <partial name="_ReleaseTablePartial" model="@Model.Singles" />
    }
    @if (Model.DJMixes.Count() > 0)
    {
        <h2>DJ Mixes</h2>
        <partial name="_ReleaseTablePartial" model="@Model.DJMixes" />
    }
    @if (Model.Compilations.Count() > 0)
    {
        <h2>Comiplation Album</h2>
        <partial name="_ReleaseTablePartial" model="@Model.Compilations" />
    }
    @if (Model.Bootlegs.Count() > 0)
    {
        <h2>Unofficial Releases</h2>
        <partial name="_ReleaseTablePartial" model="@Model.Bootlegs" />
    }
</div>