@model ReleaseViewModel
@{ 
    ViewData["Title"] = Model.Release.Title;
    int minimumRating = 1;
    int maximumRating = 10;
    int defaultSelectOption = 10;
    bool releaseRated = false;
    if(Model.UserRating != null)
    {
        if (Model.UserRating.Rating != 0)
        {
            releaseRated = true;
            defaultSelectOption = Model.UserRating.Rating;
        }
    }
}


<div>
    <div>
        <div>
            <h1 class="entryTitle">@Model.Release.Title</h1>
        </div>
        <div class="entryReleaseType">
            <span>@Model.Release.Type by </span>
            <a asp-controller="Artist" asp-action="Profile" asp-route-id="@Model.Release.Artist.Id"
               class="entryArtist">@Model.Release.Artist.Name</a>
        </div>
        <div class="entryInformation">
            <div class="releaseImage entryImage" style="@Model.Release.GetBackgroundCSS()">
                <div>This is an image placeholder</div>
            </div>
            <div class="entryMeta">
                <div>
                    <strong>Released: </strong>
                    <partial name="_DateSpanPartial" model="new int[] { Model.Release.ReleaseDay, Model.Release.ReleaseMonth, Model.Release.ReleaseYear }">
                </div>
                <div>
                    <strong>Community Rating: </strong>
                    <span>>@Model.Release.AverageRating/10 from <strong>@Model.Release.NumberOfRatings</strong> ratings</span>
                </div>
                <div>
                    <strong>User Reviews: </strong>
                    <span>@Model.Release.NumberOfReviews</span>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    int numberOfGenres = 4;
                    <strong>Genres</strong>
                    <div>
                        @foreach (ReleaseGenre releaseGenre in Model.Release.ReleaseGenres.OrderByDescending(rg => rg.GenreVoting).Skip(0).Take(numberOfGenres))
                        {
                            <a>@releaseGenre.Genre.Name</a>
                        }
                    </div>
                    <a asp-action="Genres" asp-route-id="@Model.Release.Id">Suggest a Genre</a>
                    <div class="entryVoting">
                        <h3>@(releaseRated ? "You rated this release " + @defaultSelectOption + " / 10" : "You have not rated this release")</h3>
                        <div class="form-group">
                            <form method="post" action="/Release/Rate/@Model.Release.Id">
                                <select id="rating" name="rating">
                                    <option value="0">None</option>
                                    @for (int i = maximumRating; i >= minimumRating; i--)
                                    {
                                        @if (releaseRated)
                                        {
                                            @if (i == Model.UserRating.Rating)
                                            {
                                                <option selected="selected">@i</option>
                                                continue;
                                            }
                                        }
                                        <option>@i</option>
                                    }
                                </select>
                                <button class="btn btn-primary" type="submit">
                                    @(releaseRated ? "Update Rating" : "Rate")
                                </button>
                            </form>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div>
            @if (User.Identity.IsAuthenticated)
            {
            <div class="form-group">
                <form class="reviewForm" method="post" action="/Review/Submit/@Model.Release.Id">
                    <input name="reviewTitle" id="reviewTitle" placeholder="Review Title"
                           value="@(@Model.UserReview != null ? Model.UserReview.Title : "")" />
                    <textarea name="reviewText" id="reviewText" placeholder="Review Text">@(@Model.UserReview != null ? Model.UserReview.ReviewText : "")</textarea>
                    <button class="btn btn-primary" type="submit">@(@Model.UserReview != null ? "Edit Review" : "Submit Review")</button>
                </form>
                @if (Model.UserReview != null)
                {
                    <form method="post" action="/Review/Delete/@Model.UserReview.Id">
                        <input type="hidden" name="releaseID" id="releaseID" value="@Model.Release.Id"/>
                        <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure?')">
                            Delete Your Review
                        </button>
                    </form>
                }
            </div>
                @if (Model.IsAdmin)
                {
                    <div class="form-group">
                        <form method="post" action="/Release/Delete/@Model.Release.Id">
                            <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure?')">Delete Release</button>
                        </form>
                    </div>
                }
            }
        </div>
        <div class="entryUserContent">
            <div class="entryReviews">
                <h2>User Reviews</h2>
                @foreach (ReleaseReview releaseReview in @Model.ReleaseReviews)
                {
                    <div class="releaseReview">
                        <div class="releaseReviewMeta">
                            <span><a asp-controller="User" asp-action="Profile" asp-route-id="@releaseReview.User.UserName">@releaseReview.User.UserName</a></span>
                            <span>@releaseReview.ReviewDate.ToString("d")</span>
                            <span>@releaseReview.UserVotes.Count Votes</span>
                            <span>Rating: @(releaseReview.ReleaseRating > 0 ? @releaseReview.ReleaseRating.ToString() + "/10" : "n/a")</span>
                        </div>
                        <h3>@releaseReview.Title</h3>
                        <p>@releaseReview.ReviewText</p>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div>
                                @if (releaseReview.UserId != Model.User.Id)
                                {
                                    <form method="post" action="/Review/Vote/@releaseReview.Id">
                                        <button class="btn btn-primary" type="submit">
                                            @(releaseReview.UserVotes.Contains(ViewBag.User) ? "Remove Vote" : "Vote")
                                        </button>
                                    </form>
                                }
                            </div>
                            <div>
                                @if (Model.IsAdmin || releaseReview.UserId == Model.User.Id)
                                {
                                    <form method="post" action="/Review/Delete/@releaseReview.Id">
                                        <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure?')" >
                                            Delete Review
                                        </button>
                                    </form>
                                }
                            </div>
                        }
                    </div>
                }
            </div>
            <div class="entryComments">
                <h2>User Comments</h2>
                <div class="commentList">
                    @foreach (ReleaseComment comment in Model.ReleaseComments)
                    {
                        <div class="releaseComment">
                            <div class="releaseCommentMeta">
                                <span><a asp-controller="User" asp-action="Profile" asp-route-id="@comment.User.UserName">@comment.User.UserName</a></span>
                                <span>@comment.PostedDate.ToString("d")</span>
                            </div>
                            <p>@comment.Text</p>
                        </div>
                    }
                </div>
                <form method="post" action="/Comment/Release/@Model.Release.Id">
                    <textarea name="Text" id="Text" placeholder=""></textarea>
                    <button class="btn btn-primary" type="submit">Comment</button>
                </form>
            </div>
        </div>

    </div>
</div>


