@model ReleaseViewModel

 
@{ 
    Layout = "_Layout";
    int minimumYear = 1855;
    int maximumYear = DateTime.Now.Year + 1;
}


<form method="post">
    <div class="form-group">
        <label>Artist Name</label>
        <input class="form-control" value="@Model.Artist.Name" disabled />
    </div>
    <div class="form-group">
        <label>Artist ID</label>
        <input class="form-control" value="@Model.Artist.ArtistID" disabled />
    </div>
    <div class="form-group">
        <label asp-for="Title"></label>
        <input class="form-control" asp-for="Title" />
    </div>
    <div class="form-group">
        <label asp-for="ReleaseDay"></label>
        <select asp-for="ReleaseDay">
            <option value="0"></option>
            @for(var i = 1; i <= 31; i++)
                { <option value="@i">@i</option> }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="ReleaseMonth"></label>
        <select asp-for="ReleaseMonth" asp-items="Model.Months">
            <option value="0"></option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="ReleaseYear"></label>
        <select asp-for="ReleaseYear">
            <option value="0"></option>
            @for (var i = maximumYear; i >= minimumYear; i--)
            {
                <option value="@i">@i</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Type"></label>
        <select class="form-control" asp-for="Type" asp-items="@(Html.GetEnumSelectList<ReleaseType>())"></select>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>
