@model Release

 
@{ 
    Layout = "_Layout";
    int minimumYear = 1855;
    int maximumYear = DateTime.Now.Year + 1;
}


<form method="post" id="FormDateValidation">
    <div class="form-group">
        <label>Artist Name</label>
        <input class="form-control" value="@Model.Artist.Name" disabled />
    </div>
    <div class="form-group">
        <label>Artist ID</label>
        <input class="form-control" value="@Model.Artist.Id" disabled />
    </div>
    <div class="form-group">
        <label asp-for="Title"></label>
        <input class="form-control" asp-for="Title" required="required" />
    </div>
    <div>
        <label>Release Date</label>
    </div>
    <div class="listofthings">
        <div class="form-group">
            <select asp-for="ReleaseDay">
                <option value="0"></option>
                @for (var i = 1; i <= 31; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>
        <div class="form-group">
            <select asp-for="ReleaseMonth" asp-items="MonthSelectList.GetMonthList()">
                <option value="0"></option>
            </select>
        </div>
        <div class="form-group">
            <select asp-for="ReleaseYear">
                <option value="0"></option>
                @for (var i = maximumYear; i >= minimumYear; i--)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>
    </div>
    <div class="form-error">
        <span id="ReleaseDate-Error"></span>
    </div>
    <div class="form-group">
        <label asp-for="Type"></label>
        <select class="form-control" asp-for="Type" asp-items="@(Html.GetEnumSelectList<ReleaseType>())"></select>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>

<script src="~/js/ReleaseDateValidation.js" asp-append-version="true"></script>