@model IEnumerable<ArtistEditRequest>

@foreach (ArtistEditRequest editRequest in Model)
{
    <a asp-controller="Artist" asp-action="EditRequest"
       asp-route-id="@editRequest.ArtistId">@editRequest.Artist.Name</a>
    <br />
    <span>Submitted by <a asp-controller="User" asp-action="Profile"
                          asp-route-username="@editRequest.SubmittingUser.UserName"
                          >@editRequest.SubmittingUser.UserName</a></span>
    <br />
    <span>@editRequest.SubmittedDate.ToString("d")</span>
    
}