@model SearchViewModel

<partial name="_SearchHeaderPartial">

    <h2>Artists</h2>

    @if (Model.Artists.Count > 0)
    {

        @foreach (Artist artist in Model.Artists)
        {
            <div class="searchResult">
                <a asp-action="Profile" asp-controller="Artist" asp-route-id="@artist.Id">@artist.Name</a>
            </div>
        }
    }
    else
    {
        <p>No artists found</p>
    }
    <a asp-controller="Artist" asp-action="New">Add an Artist</a>
    <h2>Releases</h2>
    @if (Model.Releases.Count > 0)
    {
        @foreach (Release release in Model.Releases)
        {
            <div class="searchResult">
                <a asp-action="Entry" asp-controller="Release" asp-route-id="@release.Id">@release.Title</a>
            </div>
        }
    }
    else
    {
        <p>No releases found</p>
    }

    <h2>Users</h2>
    @if (Model.Users.Count > 0)
    {
        @foreach (MusicRaterUser user in Model.Users)
        {
            <div class="searchResult">
                <a asp-action="Profile" asp-controller="User" asp-route-id="@user.UserName">@user.UserName</a>
            </div>
        }
    }
    else
    {
        <p>No users found</p>
    }
