@model UserProfileViewModel
@{
    ViewData["Title"] = Model.User.UserName;
}

<h1>@Model.User.UserName</h1>
<h2>Number of Ratings: <a href="#">@Model.User.ReleaseRatings.Count()</a></h2>
<h2>Number of Reviews: <a href="#">@Model.User.ReleaseReviews.Count()</a></h2>

@if (Model.IsProfileOwner)
{
    <a asp-action="EditProfile">Edit Profile</a>
}
<div>
    @foreach (ReleaseRating rating in Model.RecentRatings)
    {
        <h2>Rating of @rating.Release.Title by @rating.Release.Artist.Name</h2>
        <p>@rating.Rating / 10</p>
    }
</div>
<div>
    @foreach (ReleaseReview review in Model.RecentReviews)
    {
        <p>@review.ReviewText</p>
    }
</div>